<?xml version="1.0" encoding="UTF-8"?>
<project name="${plugin}">
	<!-- - - - - - - - - - - - - - - - - - 
	          target: plugin                     
	         - - - - - - - - - - - - - - - - - -->
	<target name="${plugin}_install">

		<mkdir dir="${build.path}\links\\${plugin}" />

		<copy todir="${build.temp}\\${plugin}">
			<fileset file="${pluginFile}" />
		</copy>
		
		<exec dir="tool" executable="${runtime}\tool\7z.exe" failonerror="true">
			<arg line="x &quot;${build.temp}\\${plugin}\*.zip&quot; -o&quot;${build.path}\links\\${plugin}&quot; -aoa" />
		</exec>

	</target>
</project>